<div class="panel panel-primary">
    <div class="panel-heading">Featured Courses</div>
    <div class="panel-body" ng-repeat="course in courses | filter: {featured:true}">
        {{course.name}}
    </div>
</div>
