
<!-- section intro -->
<section id="intro">
    <div class="intro-content">
    <h2>Welcome to TechMania!</h2>
    <h3>Start your journey towards technology</h3>
    <div>
        <a href="#content" class="btn-get-started scrollto">Get Started</a>
    </div>
    </div>
</section>
<!-- /section intro -->
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6" ng-include="'/partials/featured-cources'"></div>
            <div class="col-md-6" ng-include="'/partials/new-cources'"></div>
        </div>
    </div>
</section>


