<div class="panel panel-primary">
    <div class="panel-heading">New Courses</div>
    <div class="panel-body" ng-repeat="course in courses | filter: {featured:false}">
        {{course.name}}
    </div>
</div>