<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../includes/head %> 
</head>

<body ng-app="app">
  <div id="wrapper">
    <!-- start header -->
    <% include ../includes/header %> 
    <!-- end header -->

    <div ng-view>
    </div>

    <% include ../includes/footer %> 
  </div>
  <a href="#" class="scrollup"><i class="icon-angle-up icon-rounded icon-bglight icon-2x"></i></a>

  <!-- javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <% include ../includes/scripts %>

</body>

</html>
