doctype html
html
    head
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/bootstrap-responsive.css")
        link(rel="stylesheet", href="/css/prettyPhoto.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700")
        link(rel="stylesheet", href="/css/style.css")

        // Theme skin
        link(rel="stylesheet", href="/color/default.css", id="t-colors")

        // Fav and touch icons
        link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/ico/apple-touch-icon-144-precomposed.png")
        link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/ico/apple-touch-icon-144-precomposed.png")
        link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/ico/apple-touch-icon-72-precomposed.png")
        link(rel="apple-touch-icon-precomposed", href="/ico/apple-touch-icon-57-precomposed.png")
        link(rel="shortcut icon", href="/ico/favicon.png")
        
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
    body(ng-app='app')
        div(id="wrapper")
            // start header
            header
                div(class="top")
                    div(class="container")
                        div(class="row")
                            div(class="span4")
                                ul(class="topmenu")
                                    li 
                                        a(href="#") Home
                                    li 
                                        a(href="#") Terms
                                    li 
                                        a(href="#") Privacy Policy

                            div(class="span7")
                                ul(class="social-network")
                                    li
                                        a(href="#", data-placement="bottom", title="Facebook")
                                            i(class="icon-circled icon-bglight icon-facebook")
                                    li
                                        a(href="#", data-placement="bottom", title="Twitter")
                                            i(class="icon-circled icon-bglight icon-twitter")
                                    li
                                        a(href="#", data-placement="bottom", title="Linkedin")
                                            i(class="icon-circled icon-linkedin icon-bglight")
                                    li
                                        a(href="#", data-placement="bottom", title="Pinterest")
                                            i(class="icon-circled icon-pinterest  icon-bglight") 
                                    li
                                        a(href="#", data-placement="bottom", title="Google")
                                            i(class="icon-circled icon-google-plus icon-bglight")
                div(class="container")
                    div(class="row nomargin")
                        div(class="span4")
                            div(class="logo")
                                h1
                                    a(href="index.html")
                                        i(class="icon-tint") E-Learning
                        div(class="span7")
                            div(class="navbar navbar-static-top")
                                div(class="navigation")
                                    nav
                                        ul(class="nav topnav")
                                            li(class="active")
                                                a(href="index.html") Home

                                            li(class="dropdown")
                                                a(href="#") Features 
                                                    i(class="icon-angle-down")
                                                ul(class="dropdown-menu")
                                                    li
                                                        a(href="typography.html") Typography                                                <li><a href="components.html">Components</a></li>
                                                


                                          

        block main-content
        include ./scripts.jade